<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Calculator</h1>
      </ion-header-bar>
      <ion-content ng-controller="calculatorCtrl">
        <div class="display-content">
          <label class="item item-input">
            <input type="text" placeholder="0" value="{{numberDisplay}}">
          </label>
        </div>
        <div class="buttons-content">

          <div class="row">
            <div class="col">
              <button class="button button-block button-assertive" ng-click="clearDisplay()">
                C
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-calm" ng-click="addOperator('addition')">
                +
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-calm" ng-click="addOperator('subtraction')">
                -
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-calm" ng-click="addOperator('division')">
                /
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(7)">
                7
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(8)">
                8
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(9)">
                9
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-calm" ng-click="addOperator('multiplication')">
                *
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(4)">
                4
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(5)">
                5
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(6)">
                6
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-balanced" ng-click="operate()">
                =
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(1)">
                1
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(2)">
                2
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(3)">
                3
              </button>
            </div>
            <div class="col">
              <button class="button button-block button-positive" ng-click="addDigit(0)">
                0
              </button>
            </div>
          </div>

        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
